.app-games {
    position: absolute; 
    top: 56px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}

.no-game {
    display: flex;
    justify-content: center;
    align-items: center;    
}
