.app-games {
    position: absolute; 
    top: 2rem;
    bottom: 2rem;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

.no-game {
    display: flex;
    justify-content: center;
    align-items: center;    
}
