.app-games {
    position: absolute; 
    top: 2rem;
    bottom: 2rem;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

td.league {
    width: 3.5rem;
    max-width: 3.5rem;
    font-size: xx-small;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;    
}

td.time {
    vertical-align: middle;
}

td.time, td.stat {
    width: 7%;
    text-align:center;
}
td.stat.long {
    width: 10%;
}
td.teams, td.time.game, td.stat.gl {
    font-weight: 500;
}
