.game-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 640px) {
    .game-container {
        flex-direction: column;
    }
}

.game-container > .data {
    width:100%;
}

.game-container > .stat {
    font-size: .8rem;
    width:100%;
}

td.col-league {
    width: 3.5rem;
    max-width: 3.5rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;    
}

td.col-game-time {
    vertical-align: middle;
    width: 3.5rem;
    text-align: center;    
}

.data .col-game-time {
    font-weight: 600;
}

td.time, td.stat {
    width: auto;
    text-align:center;
}
td.stat.long {
    width: auto;
}
td.teams, td.time.game, td.stat.gl {
    font-weight: 500;
}
