body {
    max-width: 1200px;
    margin: 0 auto;
    font-size: small;
    position: relative;
}

.superscript {
    font-size : xx-small;
    vertical-align: top;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.invisible {
    visibility : none;
}

.red {
    color:red;
}

.highlight {
    background-color: rgb(255, 214, 214);
}