.app-header {
    position: absolute; 
    right: 0;
    left: 0;    
    top : 0;
    height: 1.5rem;
    padding-left: 2%;
    background-color:rgb(225, 225, 225);
}
.app-header .table {
    width:96%;
}

.app-header .table td {
    text-align: center;
    font-size: x-small;
}
